@model IEnumerable <n01629153Cumulative1.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>List of Teachers</h2>

@{ 
    foreach(n01629153Cumulative1.Models.Teacher Teacher in Model)
            {
                <div><a href="/Teacher/Show/@Teacher.TeacherId">@Teacher.TeacherFName</a> </div>
            }
}